<!-- <div class="container-fluid">
	<div class="navbar-nav" id="main">
		<div class="row" style="background-color: lightblue">
			<div class="col-sm-2">
				<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; open</span>
			</div>
			<div class="col-sm-6">
				<img src="../assets/1.png" width="100px">
			</div>
			<div class="col-sm-4">
				<a routerLink="./login">Login</a>
				<a routerLink="./main-table-view">Main-View</a>
			</div>
		</div>
	</div>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
		<button class="dropdown-btn">Projects 
			<i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-container">
			<ul type="circle">
				<li><a routerLink="project-detail" style="padding-left: 0px;">Project-1</a> </li>
				<li><a routerLink="project-detail" style="padding-left: 0px;">Project-2</a></li>
				<li> <a routerLink="project-detail" style="padding-left: 0px;">Project-3</a></li>
			</ul>
			<a routerLink="view-project" style="margin-top: -26px;">View All Project</a>
		</div>
		<a routerLink="create-project">Create Project</a>
		<a routerLink="main-table-view">Issues Details</a>
		<a routerLink="" class="fixed_to_bottom">Log Out</a>
	</div>
</div> -->