<div class="container">
	<div class="row">
		<table class="table table-bordered">
			<thead>
				<td>Id</td>
				<td>Project Title</td>
				<td>Project Description</td>
				<td>Status</td>
			</thead>
			<tbody>
				<td>1</td>
				<td>jfdkg</td>
				<td>fghgftyjgyjgh</td>
				<td>running</td>
			</tbody>
		</table>
	</div>
	<!-- <div class="row">
		<div class="col-sm-3">
			<div class="card">
				<div class="card-header">
					<span>To Do</span>	
				</div>	
				<div>
					<div class="card" style="cursor: move;">
						<p >Lorem Ipsum is simply dummy text of the printing and </p>
						<div class="row" style="padding-left: 25px;">
							<div>
								<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
							</div>
						</div>
						<div class="row" style="padding-left: 10px;">
							<div class="col-sm-6">
								<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
								<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
								<label class="label_text" >5</label>
							</div>
							<div class="col-sm-6">
								<label>TIS-25</label>
								<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
							</div>
						</div>

					</div>
				<div class="card" style="margin-top: 5px;">
					<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
					<div class="row" style="padding-left: 25px;">
						<div>
							<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
						</div>
					</div>
					<div class="row" style="padding-left: 10px;">
						<div class="col-sm-6">
							<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
							<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
							<label class="label_text" >5</label>
						</div>
						<div class="col-sm-6">
							<label>TIS-25</label>
							<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
						</div>
					</div>
				</div>
				<div class="card" style="margin-top: 5px;">
					<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
					<div class="row" style="padding-left: 25px;">

						<div>
							<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
						</div>
					</div>
					<div class="row" style="padding-left: 10px;">
						<div class="col-sm-6">
							<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
							<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
							<label class="label_text" >5</label>
						</div>
						<div class="col-sm-6">
							<label>TIS-25</label>
							<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
						</div>	
					</div>
				</div>	
			</div>
		</div>	
	</div> -->
	<!-- <div class="col-sm-3">
		<div class="card">
			<div class="card-header">
				<span>In Progress</span>	
			</div>	
			<div>
				<div class="card">
					<p >Lorem Ipsum is simply dummy text of the printing and </p>
					<div class="row" style="padding-left: 25px;">
						<div>
							<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
						</div>
					</div>
					<div class="row" style="padding-left: 10px;">
						<div class="col-sm-6">
							<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
							<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
							<label class="label_text" >5</label>
						</div>
						<div class="col-sm-6">
							<label>TIS-25</label>
							<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
						</div>
					</div>
				</div>
			<div class="card" style="margin-top: 5px;">
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<div class="row" style="padding-left: 25px;">
					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>
				</div>
			</div>

		</div>
	</div>	
</div> -->
<!-- <div class="col-sm-3">
	<div class="card">
		<div class="card-header">
			<span>Testing</span>	
		</div>	
		<div>
			<div class="card">
				<p >Lorem Ipsum is simply dummy text of the printing and </p>
				<div class="row" style="padding-left: 25px;">
					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>
				</div>
			</div>
			<div class="card" style="margin-top: 5px;">
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<div class="row" style="padding-left: 25px;">
					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>
				</div>
			</div>
			<div class="card" style="margin-top: 5px;">
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<div class="row" style="padding-left: 25px;">

					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>	
				</div>
			</div>	
		</div>
	</div>	
</div>
<div class="col-sm-3">
	<div class="card">
		<div class="card-header">
			<span>Done</span>	
		</div>	
		<div>
			<div class="card">
				<p >Lorem Ipsum is simply dummy text of the printing and </p>
				<div class="row" style="padding-left: 25px;">
					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>
				</div>
			</div>
			<div class="card" style="margin-top: 5px;">
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<div class="row" style="padding-left: 25px;">
					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>
				</div>
			</div>
			<div class="card" style="margin-top: 5px;">
				<p >Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
				<div class="row" style="padding-left: 25px;">

					<div>
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">plan sprints</p>
					</div>
				</div>
				<div class="row" style="padding-left: 10px;">
					<div class="col-sm-6">
						<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
						<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;"></i>
						<label class="label_text" >5</label>
					</div>
					<div class="col-sm-6">
						<label>TIS-25</label>
						<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
					</div>	
				</div>
			</div>	
		</div>
	</div>	
</div>
</div> -->
</div>



<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">

	<div class="card-list mat-elevation-z1" *ngFor="let track of tracks">
		<div class="card">
			<div class="card-header">
				<span>{{track.title}}</span>
			</div>
			
		</div>

		<!-- <h2 cdkDragHandle class="mat-h2">{{track.title}}</h2> -->

		<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks"
		[cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)">


		<mat-card *ngFor="let task of track.tasks" cdkDrag>
			<!-- Use the mat-card-content to add the proper spacing. -->
			<mat-card-content>
				<!-- {{task.title}} -->
				<div class="card" style="padding-left: 10px;">
					<div>{{task.description}}</div>

					<div class="row" style="padding-left: 15px;padding-top: 5px;">
						<p style="background-color: #FFC300;padding-right: 5px;" class="rounded">{{task.projectName}}</p>
					</div>
					<div class="row">
						<div class="col-sm-7">
							<i class="fa fa-arrow-up fa-1x" aria-hidden="true" style="color: white;background-color: green"></i>
							<i class="fa fa-ban fa-1x" aria-hidden="true" style="color: red;padding-left: 5px;">
							</i>
							<label class="label_text" >{{task.label}}</label>
						</div>
						<div class="col-sm-5">
							<label>{{task.p_alias}}</label>
							<img src="../assets/3.png"  height="25px" width="25px" style="margin-left:5px; " >
						</div>

					</div>
				</div>
			</mat-card-content>
		</mat-card>

	</div>

</div>

</div>
 <!-- <div fxLayout="row">

  <div fxFlex [fxLayout]="layout.container" class="layout-padding">
    <div>
      <pre>dndEffectAllowed="copyMove"</pre>
      <mat-list [fxLayout]="layout.list" dndDropzone [dndHorizontal]="layout.dndHorizontal" dndEffectAllowed="copyMove" (dndDrop)="onDrop($event, draggableListLeft)" class="dndList">
        <mat-list-item dndPlaceholderRef class="dndPlaceholder">

        </mat-list-item>
        <mat-list-item *ngFor="let item of draggableListLeft" [dndDraggable]="item" [dndEffectAllowed]="item.effectAllowed" [dndDisableIf]="item.disable" (dndStart)="onDragStart($event)" (dndCopied)="onDragged(item, draggableListLeft, 'copy')" (dndLinked)="onDragged(item, draggableListLeft, 'link')" (dndMoved)="onDragged(item, draggableListLeft, 'move')" (dndCanceled)="onDragged(item, draggableListLeft, 'none')" (dndEnd)="onDragEnd($event)">
          <mat-icon *ngIf="item.handle" mat-list-icon dndHandle>drag_handle
          </mat-icon>
          <h1 mat-line>{{item.content}}</h1>
          <p mat-line>effectAllowed: {{item.effectAllowed}}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div>
      <pre>dndEffectAllowed="copyMove"</pre>
      <mat-list [fxLayout]="layout.list"
                dndDropzone
                [dndHorizontal]="layout.dndHorizontal"
                dndEffectAllowed="copyMove"
                (dndDrop)="onDrop($event, draggableListRight)"
                class="dndList">


        <mat-list-item dndPlaceholderRef
                       class="dndPlaceholder">
        </mat-list-item>

        <mat-list-item *ngFor="let item of draggableListRight"
                       [dndDraggable]="item"
                       [dndEffectAllowed]="item.effectAllowed"
                       [dndDisableIf]="item.disable"
                       (dndStart)="onDragStart($event)"
                       (dndCopied)="onDragged(item, draggableListRight, 'copy')"
                       (dndLinked)="onDragged(item, draggableListRight, 'link')"
                       (dndMoved)="onDragged(item, draggableListRight, 'move')"
                       (dndCanceled)="onDragged(item, draggableListRight, 'none')"
                       (dndEnd)="onDragEnd($event)">
          <mat-icon *ngIf="item.handle"
                    mat-list-icon
                    dndHandle>drag_handle
          </mat-icon>
          <h1 mat-line>{{item.content}}</h1>
          <p mat-line>effectAllowed: {{item.effectAllowed}}</p>
        </mat-list-item>

      </mat-list>

    </div>

    <div>

      <pre>trash (dndEffectAllowed="move")</pre>

      <mat-list [fxLayout]="layout.list"
                dndDropzone
                [dndHorizontal]="layout.dndHorizontal"
                dndEffectAllowed="move"
                (dndDrop)="onDrop($event)"
                class="dndList">

      </mat-list>

    </div>

  </div>

</div> -->
